html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
#background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
 }
#fullscreen{
    width: 100%;
    height: 100%;
    text-align: center;
}
#floater{
    height: 50%;
    margin-bottom: -4em;
}
#navigation{
    width: 16em;
    height: 8em;
    background: rgba(0,0,0,0.3);
    font-size: 1em;
    margin: 0 auto;
    border-radius: 0.6em;
}