html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
#background{
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     z-index: -1;
 }
#fullscreen{
    width: 100%;
    height: 100%;
    text-align: center;
}
#navigation{
    line-height: 100%;
}