<html>
<head>
    <style>
        li{
            list-style-position: inside;
            list-style-type: decimal;
            /*width: 15em;*/
            /*height: 3em;*/
            line-height: 3em;
            color: #fff;
            background: dodgerblue;
            /*border: solid #999 1px;*/
            /*border-radius: 3px;*/
        }
    </style>
    <script>

    </script>
</head>
<body>
<div>
    <ul>
        <li><a href="src/pure-css3-elephant-animation/index2.html">walking-elephant</a></li>
        <li><a href="src/css3-pretty-cat-face/index.html">smiling-cat</a></li>
        <li><a href="src/rose/rose.html">blooming-rose</a></li>
        <li><a href="http://www.grannyssecret.com/">主页1</a></li>
        <li><a href="http://developer.51cto.com/art/201108/280436_all.htm">链接1</a></li>
        <li><a href="http://www.html5tricks.com/8-unforget-html5-animation.html">链接2</a> </li>
    </ul>
</div>
</body>
</html>