<html>
<head>
    <style>
        li{
            list-style-position: inside;
            list-style-type: decimal;
            /*width: 15em;*/
            /*height: 3em;*/
            line-height: 3em;
            /*color: #fff;*/
            /*background: dodgerblue;*/
            /*border: solid #999 1px;*/
            /*border-radius: 3px;*/
        }
    </style>
    <script src="../../lib/js/jquery-3.1.1.js"></script>
    <script src="index.js"></script>
</head>
<body>
<div>
    <ul>
        <li><a href="src/pure-css3-elephant-animation/index2.html">walking-elephant</a></li>
        <li><a href="src/css3-pretty-cat-face/index.html">smiling-cat</a></li>
        <li><a href="src/rose/rose.html">blooming-rose</a></li>
        <li><a href="http://www.grannyssecret.com/">主页1</a></li>
        <li><a href="http://developer.51cto.com/art/201108/280436_all.htm">链接1</a></li>
        <li><a href="http://www.html5tricks.com/8-unforget-html5-animation.html">链接2</a> </li>
        <li><a href="http://www.jq22.com/yanshi895">粒子效果文字</a></li>
        <li><a href="http://www.linuxsong.org/2012/03/heart-line/">heart</a></li>
    </ul>
    <div><input id="txt" type="text"><button id="write">写入</button></div>
</div>
</body>
</html>
