<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="book.css">
</head>
<body>
<div id="container">
    <div class="group">
        <div class="title">
            二零一八
        </div>
        <div class="reaction">
            白日依山尽
			黄河入海流
			欲穷千里目
			更上一层楼
			归去来兮，田园将芜胡不归，既自以心为形役，奚惆怅而独悲。悟已往之不谏，知来者之可追。识迷途其未远，
			知来者之可追。
        </div>
    </div>
    <div class="group">
        <div class="title">
            二零一八
        </div>
        <div class="reaction">
            归去来兮，田园将芜胡不归，既自以心为形役，奚惆怅而独悲。悟已往之不谏，知来者之可追。识迷途其未远，
			知来者之可追。
        </div>
    </div>
    <div class="group">
        <div class="title">
            二零一八
        </div>
        <div class="reaction">
            为什么.reaction的内容会影响div的位置，在没有加position: absolute;的时候
        </div>
    </div>
    <div class="group">
        <div class="title">
            二零一八
        </div>
        <div class="reaction">
            Happy
        </div>
    </div>
	<div class="group">
        <div class="title">
            二零一八
        </div>
        <div class="reaction">
            Happy
        </div>
    </div>
    <div class="group">
        <div class="title">
            二零一八
        </div>
        <div class="reaction">
            Happy
        </div>
    </div><div class="group">
        <div class="title">
            二零一八
        </div>
        <div class="reaction">
            Happy
        </div>
    </div>
    <div class="group">
        <div class="title">
            二零一八
        </div>
        <div class="reaction">
            Happy
        </div>
    </div>
</div>
</body>
</html>